@model TeamMember


@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmed</h2>
<p>We look forward to seeing you @Model.FirstName @Model.LastName on @Model.DateAttending with your guest @Model.GuestName.</p>
<p>A confirmation has been sent to @Model.EmailAddress.</p>

